streamlit
pandas
numpy
matplotlib
plotly
statsmodels
arch
scikit-learn
langchain
langchain-groq
langchain-core
langchain-community
langchain-huggingface
chromadb
sentence-transformers
yfinance
duckduckgo-search
python-dotenv